:root {
    --background: #242120;
    --error: #c6685d;
    --error_container: #5c1c15;
    --inverse_on_surface: #282524;
    --inverse_primary: #995d33;
    --inverse_surface: #e8e4e3;
    --on_background: #e5dec9;
    --on_error: #242120;
    --on_error_container: #f2dcd9;
    --on_primary: #242120;
    --on_primary_container: #f2e3d9;
    --on_primary_fixed: #2c2521;
    --on_primary_fixed_variant: #3b322b;
    --on_secondary: #242120;
    --on_secondary_container: #eae6e1;
    --on_secondary_fixed: #2c2721;
    --on_secondary_fixed_variant: #3b342b;
    --on_surface: #e5dec9;
    --on_surface_variant: #e5dec9;
    --on_tertiary: #242120;
    --on_tertiary_container: #e3e9e2;
    --on_tertiary_fixed: #232c21;
    --on_tertiary_fixed_variant: #2e3b2b;
    --outline: #746965;
    --outline_variant: #4b4441;
    --primary: #cb9168;
    --primary_container: #693917;
    --primary_fixed: #f4d4be;
    --primary_fixed_dim: #e9b896;
    --scrim: #000000;
    --secondary: #a69680;
    --secondary_container: #4d3d27;
    --secondary_fixed: #f4ddbe;
    --secondary_fixed_dim: #e9c696;
    --shadow: #000000;
    --source_color: #cb9168;
    --surface: #242120;
    --surface_bright: #574f4b;
    --surface_container: #36312f;
    --surface_container_high: #413b38;
    --surface_container_highest: #4c4542;
    --surface_container_low: #2d2927;
    --surface_container_lowest: #272423;
    --surface_dim: #191716;
    --surface_tint: #cb9168;
    --surface_variant: #36312f;
    --terminal_background: #242120;
    --terminal_bright_black: #36312f;
    --terminal_bright_blue: #809ba6;
    --terminal_bright_cyan: #92b9ad;
    --terminal_bright_green: #9cb793;
    --terminal_bright_magenta: #bc919f;
    --terminal_bright_red: #db8177;
    --terminal_bright_white: #f4eedc;
    --terminal_bright_yellow: #e2aa82;
    --terminal_cursor: #cb9168;
    --terminal_cursor_text: #242120;
    --terminal_foreground: #e5dec9;
    --terminal_normal_black: #242120;
    --terminal_normal_blue: #67808a;
    --terminal_normal_cyan: #769f93;
    --terminal_normal_green: #839c7a;
    --terminal_normal_magenta: #a27886;
    --terminal_normal_red: #c6685d;
    --terminal_normal_white: #e5dec9;
    --terminal_normal_yellow: #cb9168;
    --terminal_selection_bg: #36312f;
    --terminal_selection_fg: #e5dec9;
    --tertiary: #8da388;
    --tertiary_container: #324d2c;
    --tertiary_fixed: #c8f4be;
    --tertiary_fixed_dim: #a5e996;

    --background_rgb: 36 33 32;
    --error_rgb: 198 104 93;
    --error_container_rgb: 92 28 21;
    --inverse_on_surface_rgb: 40 37 36;
    --inverse_primary_rgb: 153 93 51;
    --inverse_surface_rgb: 232 228 227;
    --on_background_rgb: 229 222 201;
    --on_error_rgb: 36 33 32;
    --on_error_container_rgb: 242 220 217;
    --on_primary_rgb: 36 33 32;
    --on_primary_container_rgb: 242 227 217;
    --on_primary_fixed_rgb: 44 37 33;
    --on_primary_fixed_variant_rgb: 59 50 43;
    --on_secondary_rgb: 36 33 32;
    --on_secondary_container_rgb: 234 230 225;
    --on_secondary_fixed_rgb: 44 39 33;
    --on_secondary_fixed_variant_rgb: 59 52 43;
    --on_surface_rgb: 229 222 201;
    --on_surface_variant_rgb: 229 222 201;
    --on_tertiary_rgb: 36 33 32;
    --on_tertiary_container_rgb: 227 233 226;
    --on_tertiary_fixed_rgb: 35 44 33;
    --on_tertiary_fixed_variant_rgb: 46 59 43;
    --outline_rgb: 116 105 101;
    --outline_variant_rgb: 75 68 65;
    --primary_rgb: 203 145 104;
    --primary_container_rgb: 105 57 23;
    --primary_fixed_rgb: 244 212 190;
    --primary_fixed_dim_rgb: 233 184 150;
    --scrim_rgb: 0 0 0;
    --secondary_rgb: 166 150 128;
    --secondary_container_rgb: 77 61 39;
    --secondary_fixed_rgb: 244 221 190;
    --secondary_fixed_dim_rgb: 233 198 150;
    --shadow_rgb: 0 0 0;
    --source_color_rgb: 203 145 104;
    --surface_rgb: 36 33 32;
    --surface_bright_rgb: 87 79 75;
    --surface_container_rgb: 54 49 47;
    --surface_container_high_rgb: 65 59 56;
    --surface_container_highest_rgb: 76 69 66;
    --surface_container_low_rgb: 45 41 39;
    --surface_container_lowest_rgb: 39 36 35;
    --surface_dim_rgb: 25 23 22;
    --surface_tint_rgb: 203 145 104;
    --surface_variant_rgb: 54 49 47;
    --terminal_background_rgb: 36 33 32;
    --terminal_bright_black_rgb: 54 49 47;
    --terminal_bright_blue_rgb: 128 155 166;
    --terminal_bright_cyan_rgb: 146 185 173;
    --terminal_bright_green_rgb: 156 183 147;
    --terminal_bright_magenta_rgb: 188 145 159;
    --terminal_bright_red_rgb: 219 129 119;
    --terminal_bright_white_rgb: 244 238 220;
    --terminal_bright_yellow_rgb: 226 170 130;
    --terminal_cursor_rgb: 203 145 104;
    --terminal_cursor_text_rgb: 36 33 32;
    --terminal_foreground_rgb: 229 222 201;
    --terminal_normal_black_rgb: 36 33 32;
    --terminal_normal_blue_rgb: 103 128 138;
    --terminal_normal_cyan_rgb: 118 159 147;
    --terminal_normal_green_rgb: 131 156 122;
    --terminal_normal_magenta_rgb: 162 120 134;
    --terminal_normal_red_rgb: 198 104 93;
    --terminal_normal_white_rgb: 229 222 201;
    --terminal_normal_yellow_rgb: 203 145 104;
    --terminal_selection_bg_rgb: 54 49 47;
    --terminal_selection_fg_rgb: 229 222 201;
    --tertiary_rgb: 141 163 136;
    --tertiary_container_rgb: 50 77 44;
    --tertiary_fixed_rgb: 200 244 190;
    --tertiary_fixed_dim_rgb: 165 233 150;
}